{
  "API_KEY": "#############################################",
  "name": "api",
  "port": 8080,
  "host": "localhost",
  "db": {
    "application_name": "nameApplication",
    "database": "database",
    "host": "hostBD",
    "password": "passwordBD",
    "port": poerDB,
    "user": "userDB"
  }
}