{
  "API_KEY": "#############################################",
  "name": "API",
  "port": 8080,
  "host": "localhost",
  "db": {
    "application_name": "billingServer",
    "database": "NameDatabase",
    "host": "NameHost Or IOHost",
    "password": "PasswordUserDB",
    "port": 5432,
    "user": "UserDB"
  }
}